html, body {
  margin:0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body {
    background-image: url("imgs/chill.jpg");
    overflow: auto;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}
#page {
    height: 100%;
    position: relative;
}

#container {
    align-items: center;
    justify-content: center;
    touch-action: none;
}
.item {
    z-index: 0;
    position: absolute;
    top:10%;
    width: 550px;
    height: 310px;
}
.youtube {
    width: 511px;
    height: 310px;
}
.gfycat {
    width: 306px;
    height: 196px;
}
.soundcloud {
    width: 511px;
    height: 327px;
}
.socials {
    width: 215px;
    height: 106px;
}
.handle {
    height: 20px;
    background-color: blue;
    touch-action: none;
    user-select: none;
    cursor: grab;
}
.handle:active {
    cursor: grabbing;
}
#page {
    position: relative;
    height: 100%;
}
.icon-container {
    position: absolute;
    left: 0;
    bottom: 0;
}
.icon-container button {
    z-index: -1;
}
ul.projects li:not(.ui-sortable-helper) {
  float: left;
  margin: 0px 6.5px 12px;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.margin-zero {
    margin: 0px !important;
}
nav img {
    z-index: 100000;
}